body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4c7f9;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans';
}

header{
	background-color: #f2f2f2;
	text-align: center;
	padding: 25px;
}
nav a{
	display: inline-block;
	text-decoration: none;
	color: #696969;
	margin: 0 30px;
	padding: 5px 15px;
	border-radius: 30px;
}
nav a:hover {
	background-color: #000;
	color: #fff;
}
.ENCABEZADO{
	background-image: url(imagenes/gorras\ caballero.jpeg);
	background-size: cover;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #faf9f9;
}
.encabezado-img p{
	font-size: 18px;
}
.encabezado-img h1{
	font-size: 50px;
	padding: 15px 0;

}
section.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 200px;
}

.producto img {
    max-width: 100%;
    border-radius: 8px;
    width: 350px;
    height: 325px;
    object-fit: cover;
}

.producto p {
    font-size: 1.2rem;
    margin: 10px 0;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}
.btn:hover {
    background-color: #0056b3;
}